NodeJS/NonTextract/node_modules/
NodeJS/NonTextract/test.csv
NodeJS/NonTextract/220930_MTMReport1_Stmt.pdf
NodeJS/NonTextract/240531_MTMReport1_Stmt-1.pdf
NodeJS/NonTextract/240628_MTMReport1_Stmt-1.pdf
NodeJS/NonTextract/FXO_MTM_VSFI_20220926.pdf
NodeJS/NonTextract/Monthly Trades - 202405-1.pdf
Python/columnExtraction/columnExtraction/240531_MTMReport1_Stmt-1.pdf
Python/columnExtraction/columnExtraction/page_0.png
Python/columnExtraction/columnExtraction/page_0.txt
Python/columnExtraction/columnExtraction/page_1.png
Python/columnExtraction/columnExtraction/page_1.txt
Python/columnExtraction/columnExtraction/page_2.png
Python/columnExtraction/columnExtraction/page_2.txt
Python/columnExtraction/columnExtraction/page_3.png
Python/columnExtraction/columnExtraction/page_3.txt
Python/columnExtraction/columnExtraction/lib
Python/columnExtraction/columnExtraction/lib64
Python/columnExtraction/columnExtraction/bin
Python/columnExtraction/columnExtraction/pyvenv.cfg
